*{
    margin: 3px;
    padding: 3px;
}
.calculador_Keyboard{
position:relative;
margin-right: 83.5%;    
background-color:gray;
}
.calculadora_simples{
    position: inherit;
    border: 0;
    padding: 15px;
}
.Key{
    width: 35px;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
    background-color: brown;
    color: aliceblue;

}
.Key:hover{
    background-color: blue;
}
#result{
    background-color: white;
    width: 177px;
    height: 18px;
    margin: 14px;
    padding: 5px;
    font-size: 15px;
    text-align: right;
    color: black;
    
}
.historicoCal{
    width: 100px;
    margin: 1px;
    background-color:blueviolet;
    color: white;
}
